/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: yellowgreen;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  font-weight: bold;
  background-color: yellowgreen;
  color:white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: yellowgreen;
  color:black;
}
.first:hover{
  background-color: yellow;
  color:black;
}
button:disabled {
  background-color: white;
  color: blue;
  cursor: auto;
}
