/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: yellowgreen;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: yellowgreen;
  border-radius: 50px;
  text-align: center;
}
nav a:visited, a:link {
  color: white;
}
nav a:hover {
  color: black;
  background-color:yellow;
}
nav a.active {
  color: #039be5;
}
