/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  position: relative;
  font-weight: bold;
  cursor: pointer;
  background-color: yellowgreen;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  color:black;
}

.heroes li:hover {
  color: black;
  background-color: yellow;
  left: .1em;
}

.heroes a {
  color:white;
  text-decoration: none;
  position: relative;
  display: list-item;
  width: 250px;
}

.heroes a:hover {
  color:black;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: yellowgreen;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


button {
  background-color: yellowgreen;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  color:white;
}

button:hover {
  background-color:yellow;
  color:black;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: yellow;
  color: black;
}
button.delete:hover{
  background-color: red;
  color: black;

}

